<style>
h1{
  margin-top:60px;
}
</style>
<h1>Task: $task.getDescription()</h1>
<h2>Completed?:  $task.isCompleted()</h2>
<h2>Created at: $task.getCreatedAt()</h2>

<a href="/category/$category.getId()/task/new">Add another task</a>
<a href="/tasks">All tasks</a>